In [51]:
## Importing Important Libraries!
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [52]:
## Loadind Dataset!
df = pd.read_csv("datasets/cars_uncleaned.csv",encoding="latin1")

In [53]:
df.head()

,Company Names,Cars Names,Engines,CC/Battery Capacity,HorsePower,Total Speed,Performance(0 - 100 )KM/H,Cars Prices,Fuel Types,Seats,Torque
0,FERRARI,SF90 STRADALE,V8,3990 cc,963 hp,340 km/h,2.5 sec,"$1,100,000",plug in hyrbrid,2,800 Nm
1,ROLLS ROYCE,PHANTOM,V12,6749 cc,563 hp,250 km/h,5.3 sec,"$460,000",Petrol,5,900 Nm
2,Ford,KA+,1.2L Petrol,"1,200 cc",70-85 hp,165 km/h,10.5 sec,"$12,000-$15,000",Petrol,5,100 - 140 Nm
3,MERCEDES,GT 63 S,V8,"3,982 cc",630 hp,250 km/h,3.2 sec,"$161,000",Petrol,4,900 Nm
4,AUDI,AUDI R8 Gt,V10,"5,204 cc",602 hp,320 km/h,3.6 sec,"$253,290",Petrol,2,560 Nm

In [54]:
df.shape # 1218 total records!

(1218, 11)

## Data Cleaning

In [55]:
# making a copy dataset!
df_copy = df.copy()

In [56]:
df_copy.head()

,Company Names,Cars Names,Engines,CC/Battery Capacity,HorsePower,Total Speed,Performance(0 - 100 )KM/H,Cars Prices,Fuel Types,Seats,Torque
0,FERRARI,SF90 STRADALE,V8,3990 cc,963 hp,340 km/h,2.5 sec,"$1,100,000",plug in hyrbrid,2,800 Nm
1,ROLLS ROYCE,PHANTOM,V12,6749 cc,563 hp,250 km/h,5.3 sec,"$460,000",Petrol,5,900 Nm
2,Ford,KA+,1.2L Petrol,"1,200 cc",70-85 hp,165 km/h,10.5 sec,"$12,000-$15,000",Petrol,5,100 - 140 Nm
3,MERCEDES,GT 63 S,V8,"3,982 cc",630 hp,250 km/h,3.2 sec,"$161,000",Petrol,4,900 Nm
4,AUDI,AUDI R8 Gt,V10,"5,204 cc",602 hp,320 km/h,3.6 sec,"$253,290",Petrol,2,560 Nm

In [57]:
## Checking the data set!
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1218 entries, 0 to 1217
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Company Names              1218 non-null   object
 1   Cars Names                 1218 non-null   object
 2   Engines                    1218 non-null   object
 3   CC/Battery Capacity        1215 non-null   object
 4   HorsePower                 1218 non-null   object
 5   Total Speed                1218 non-null   object
 6   Performance(0 - 100 )KM/H  1212 non-null   object
 7   Cars Prices                1218 non-null   object
 8   Fuel Types                 1218 non-null   object
 9   Seats                      1218 non-null   object
 10  Torque                     1217 non-null   object
dtypes: object(11)
memory usage: 104.8+ KB

In [58]:
df_copy.isnull().sum()

Company Names                0
Cars Names                   0
Engines                      0
CC/Battery Capacity          3
HorsePower                   0
Total Speed                  0
Performance(0 - 100 )KM/H    6
Cars Prices                  0
Fuel Types                   0
Seats                        0
Torque                       1
dtype: int64

In [59]:
# removing NaN's as there are very less
df_copy = df_copy.dropna()

In [60]:
df_copy.shape   ## Dropped 8 rows!

(1210, 11)

In [61]:
## Checking for duplicates!
df_copy[df_copy.duplicated()].shape   ## 4 duplicates

(4, 11)

In [62]:
# Dropping duplicates
df_copy=df_copy.drop_duplicates()

In [63]:
df_copy[df_copy.duplicated()].shape  ## Done

(0, 11)

In [64]:
## Now i am converting the columns to numerical in which it is feasable!
df_copy['CC/Battery Capacity'].unique()

array(['3990 cc', '6749 cc', '1,200 cc', '3,982 cc', '5,204 cc',
       '3,994 cc', '3,996 cc', '6,498 cc', '3,900 cc', '6496 cc',
       '6,496 cc', '2,998 cc', '1,998 cc', '2,387 cc', '5,663 cc',
       '3,799 cc', '3,696 cc', '2,488 cc', '3,498 cc', '5,598 cc',
       '5,935 cc', '3,998 cc', '6,592 cc', '6,749 cc', '1991 cc',
       '2,996 cc', '1,991 cc', '5,980 cc', '4,395 cc', '2,993 cc',
       '4,935 cc', '3,993 cc', '2,995 cc', '1,984 cc', '95 kwh',
       '11.6 kwh', '1,499 cc', '1,496 cc', '1,995 cc', '1,598 cc',
       '1,969 cc', '2,480 cc', '1,996 cc', '1,600 cc / 13.8 kwh',
       '1,498 cc', '1,600 cc / 1.49 kwh', '1,598 cc / 13.8 kwh',
       '3,471 cc', '3,500 cc', '1,798 cc', '2,494 cc', '3,456 cc',
       '3,956 cc', '2,694 cc', '1,986 cc',
       '64.8 kwh (Base Model),72.8 kwh (Higher End Model', '1,497 cc',
       '1,197 cc', '1,396 cc', '1,999 cc', '2,179 cc', '1,997 cc',
       '1,462 cc', '1,618 cc', '3,346 cc', '3,445 cc', '1,987 cc',
       '1.24 kwh', '2,755 cc', 'HYBRID(2,494 cc),V6(3,456 cc)',
       '1,490 cc', '998 cc', '75 KWH', '65 KWH', '1,600 cc', '72.6 KWH',
       '2,500 cc', '1,591 cc', '2,000 cc',
       '53.6 kwh(Standard Range) / 77.4 kwh(Long Range)', '3,800 cc',
       '39.2 kwh', '1.56 kwh', '3,300 cc', '1498 cc / 40 - 58 kWh',
       '1984 cc', '1498 cc', '999 cc / 1598 cc', '77 kWh', '32.3 kWh',
       '2967 cc / 3956 cc', '2967 cc', '3954 cc', '58 - 77 kWh',
       '1968 cc', '999 cc', '999 cc / 1498 cc', '2995 cc',
       '1395 cc / 1968 cc', '1199 cc', '58 kWh', '1498 cc / 1968 cc',
       '1390 cc / 1199 cc', '2861 cc', '2967 cc / 5998 cc',
       '1197 cc / 1984 cc', '1390 cc / 1598 cc', '1192 cc',
       '1198 cc / 1390 cc', '1598 cc', '35.8 kWh', '1598 cc / 1896 cc',
       '1984 cc / 3597 cc', '~50 kWh (Estimate)',
       '1395 cc + Electric Motor', '3956 cc', '1395 cc', '1781 cc',
       '3189 cc', '1598 cc / 1984 cc', '800 cc + Electric Motor',
       '1395 cc + Battery', '3996 cc', '5552 cc', '1332 cc', '3498 cc',
       '2997 cc', '1798 cc', '1198 cc', '1461 cc', '3799 cc', '3696 cc',
       '87 kWh', '1197 cc', '1997 cc', '1998 cc', '2498 cc', '1796 cc',
       '4750 cc', '2488 cc', '1497 cc', '5026 cc', '1838 cc', '2960 cc',
       '2438 cc', '2568 cc', '2298 cc', '1397 cc', '2825 cc', '2664 cc',
       '3000 cc', '1595 cc', '3495 cc', '987 cc', '2389 cc', '2999 cc',
       '659 cc', '1770 cc', '1597 cc', '4494 cc', '2393 cc', '1769 cc',
       '2663 cc', '4169 cc', '3275 cc', '4130 cc', '2753 cc', '1809 cc',
       '1839 cc', '2953 cc', '2894 cc', '17.9 kWh Battery', '2981 cc',
       '3745 cc', '79.2 kWh', '93.4 kWh', '1988 cc', '2497 cc', '3995 cc',
       '95 kWh', '2000 cc', '2700 cc', '4194 cc', '24 kWh',
       '1199 cc / 1497 cc', '624 cc', '1396 cc', '1193 cc', '26 kWh',
       '1248 cc / 1199 cc', '6200 cc', '1248 cc / 1368 cc', '40.5 kWh',
       '1956 cc', '2179 cc', '2956 cc', '30.2 kWh', '100 kWh', '60 kWh',
       '82 kWh', '75 kWh', '200 kWh', '3600 cc', '2400 cc', '1300 cc',
       '5700 cc', '6400 cc', '17.3 kWh', '11.4 kWh', '1,500 cc',
       '3200 cc', '1400 cc', '1500 cc', '5300 cc', '6600 cc', '66 kWh',
       '2800 cc', '1200 cc', '4300 cc', '2500 cc', '212 kWh', '3,564 cc',
       '5,327 cc', '2,713 cc', '6,600 cc', '6,162 cc', '4,300 cc',
       '1591 cc', '1,599 cc (petrol) + Electric Motor', '3778 cc',
       '1999 cc', '77.4 kWh', '3500 cc',
       '1,598 cc (petrol) + Electric Motor', '3300 cc',
       '1,599 cc (Petrol) + Electric Motor', '50 kWh', '7993 cc',
       '13000 cc', '16100 cc', '12800 cc', '7700 cc', '5100 cc',
       '2995 cc (V6)', '1999 cc (I4)', '90 kWh (Battery)',
       '1999 cc (I4) / 2995 cc (V6)', '1998 cc (I4)', '5000 cc (V8)',
       '1999 cc (I4) + Electric', '3,493 cc (V6)', '3,500 cc (V6)',
       '1,500 cc (I4)', '2,400 cc (I4)', '2,400 cc', '3,493 cc',
       '3,000 cc', '1,199 cc', '1,560 cc', '2,200 cc', '-',
       '1,500 - 2,000 cc', '2,000 - 3,500 cc', '1,000 - 1,500 cc',
       '1,000 - 2,000 cc', '1,500 - 2,500 cc', '2,000 - 2,700 cc',
       '2,300 - 3,000 cc', '3,500 - 5,400 cc', '2,300 - 2,700 cc',
       '3,300 - 5,000 cc', '6,200 - 7,300 cc', '6,700 - 7,300 cc',
       '2,500 - 2,000 cc', 'Battery (68-98 kWh)', 'Battery (98 kWh)',
       '5,000 cc', '2,300 cc', '2,700 cc', '1,000 cc', '6,700 cc',
       '5,200 cc', '7,300 cc', '89 kWh (Electric)',
       '3,000 cc (petrol) + Electric Motor',
       '2,500 cc (petrol) + Electric Motor', '2,400 cc / 20 kWh battery',
       '3,200 cc', '16 kWh battery', '1,100 - 1,500 cc',
       '1,600 - 2,000 cc', '2,000 - 2,200 cc', '1,800 cc', '660 cc',
       '35.5 kWh battery', '1,300 cc', '657 cc', '2,600 cc', '1,308 cc',
       '1,588 cc', '1,590 cc', '360 cc', '1,298 cc', '2,620 cc',
       '2487 cc', '2393 cc + Battery', '1987 cc / Hybrid batt',
       '1798 / 1987 cc + batt', '2487 cc + batt'], dtype=object)

In [65]:
### For non ev Vehicles its in cc and for ev its in kwh!
# so first splitting it wrt spaces and including only numeric part i.e str[0]
df_copy['CC/Battery Capacity']=df_copy['CC/Battery Capacity'].str.split(" ").str[0]
df_copy['CC/Battery Capacity'].unique()

array(['3990', '6749', '1,200', '3,982', '5,204', '3,994', '3,996',
       '6,498', '3,900', '6496', '6,496', '2,998', '1,998', '2,387',
       '5,663', '3,799', '3,696', '2,488', '3,498', '5,598', '5,935',
       '3,998', '6,592', '6,749', '1991', '2,996', '1,991', '5,980',
       '4,395', '2,993', '4,935', '3,993', '2,995', '1,984', '95', '11.6',
       '1,499', '1,496', '1,995', '1,598', '1,969', '2,480', '1,996',
       '1,600', '1,498', '3,471', '3,500', '1,798', '2,494', '3,456',
       '3,956', '2,694', '1,986', '64.8', '1,497', '1,197', '1,396',
       '1,999', '2,179', '1,997', '1,462', '1,618', '3,346', '3,445',
       '1,987', '1.24', '2,755', 'HYBRID(2,494', '1,490', '998', '75',
       '65', '72.6', '2,500', '1,591', '2,000', '53.6', '3,800', '39.2',
       '1.56', '3,300', '1498', '1984', '999', '77', '32.3', '2967',
       '3954', '58', '1968', '2995', '1395', '1199', '1390', '2861',
       '1197', '1192', '1198', '1598', '35.8', '~50', '3956', '1781',
       '3189', '800', '3996', '5552', '1332', '3498', '2997', '1798',
       '1461', '3799', '3696', '87', '1997', '1998', '2498', '1796',
       '4750', '2488', '1497', '5026', '1838', '2960', '2438', '2568',
       '2298', '1397', '2825', '2664', '3000', '1595', '3495', '987',
       '2389', '2999', '659', '1770', '1597', '4494', '2393', '1769',
       '2663', '4169', '3275', '4130', '2753', '1809', '1839', '2953',
       '2894', '17.9', '2981', '3745', '79.2', '93.4', '1988', '2497',
       '3995', '2000', '2700', '4194', '24', '624', '1396', '1193', '26',
       '1248', '6200', '40.5', '1956', '2179', '2956', '30.2', '100',
       '60', '82', '200', '3600', '2400', '1300', '5700', '6400', '17.3',
       '11.4', '1,500', '3200', '1400', '1500', '5300', '6600', '66',
       '2800', '1200', '4300', '2500', '212', '3,564', '5,327', '2,713',
       '6,600', '6,162', '4,300', '1591', '1,599', '3778', '1999', '77.4',
       '3500', '3300', '50', '7993', '13000', '16100', '12800', '7700',
       '5100', '90', '5000', '3,493', '2,400', '3,000', '1,199', '1,560',
       '2,200', '-', '1,000', '2,300', '6,200', '6,700', 'Battery',
       '5,000', '2,700', '5,200', '7,300', '89', '3,200', '16', '1,100',
       '1,800', '660', '35.5', '1,300', '657', '2,600', '1,308', '1,588',
       '1,590', '360', '1,298', '2,620', '2487', '1987'], dtype=object)

In [66]:
## replacing ',' with empty ''..
df_copy['CC/Battery Capacity']=df_copy['CC/Battery Capacity'].str.replace(",","")
df_copy['CC/Battery Capacity'].unique()

array(['3990', '6749', '1200', '3982', '5204', '3994', '3996', '6498',
       '3900', '6496', '2998', '1998', '2387', '5663', '3799', '3696',
       '2488', '3498', '5598', '5935', '3998', '6592', '1991', '2996',
       '5980', '4395', '2993', '4935', '3993', '2995', '1984', '95',
       '11.6', '1499', '1496', '1995', '1598', '1969', '2480', '1996',
       '1600', '1498', '3471', '3500', '1798', '2494', '3456', '3956',
       '2694', '1986', '64.8', '1497', '1197', '1396', '1999', '2179',
       '1997', '1462', '1618', '3346', '3445', '1987', '1.24', '2755',
       'HYBRID(2494', '1490', '998', '75', '65', '72.6', '2500', '1591',
       '2000', '53.6', '3800', '39.2', '1.56', '3300', '999', '77',
       '32.3', '2967', '3954', '58', '1968', '1395', '1199', '1390',
       '2861', '1192', '1198', '35.8', '~50', '1781', '3189', '800',
       '5552', '1332', '2997', '1461', '87', '2498', '1796', '4750',
       '5026', '1838', '2960', '2438', '2568', '2298', '1397', '2825',
       '2664', '3000', '1595', '3495', '987', '2389', '2999', '659',
       '1770', '1597', '4494', '2393', '1769', '2663', '4169', '3275',
       '4130', '2753', '1809', '1839', '2953', '2894', '17.9', '2981',
       '3745', '79.2', '93.4', '1988', '2497', '3995', '2700', '4194',
       '24', '624', '1193', '26', '1248', '6200', '40.5', '1956', '2956',
       '30.2', '100', '60', '82', '200', '3600', '2400', '1300', '5700',
       '6400', '17.3', '11.4', '1500', '3200', '1400', '5300', '6600',
       '66', '2800', '4300', '212', '3564', '5327', '2713', '6162',
       '1599', '3778', '77.4', '50', '7993', '13000', '16100', '12800',
       '7700', '5100', '90', '5000', '3493', '1560', '2200', '-', '1000',
       '2300', '6700', 'Battery', '5200', '7300', '89', '16', '1100',
       '1800', '660', '35.5', '657', '2600', '1308', '1588', '1590',
       '360', '1298', '2620', '2487'], dtype=object)

In [67]:
## there is row with '~' removing this sign!
df_copy['CC/Battery Capacity']=df_copy['CC/Battery Capacity'].str.replace("~","")
df_copy['CC/Battery Capacity']=df_copy['CC/Battery Capacity'].str.replace("HYBRID(","")

In [68]:
## Seeing how many columns are left which are not numeric!
df_copy['CC/Battery Capacity'].unique()

array(['3990', '6749', '1200', '3982', '5204', '3994', '3996', '6498',
       '3900', '6496', '2998', '1998', '2387', '5663', '3799', '3696',
       '2488', '3498', '5598', '5935', '3998', '6592', '1991', '2996',
       '5980', '4395', '2993', '4935', '3993', '2995', '1984', '95',
       '11.6', '1499', '1496', '1995', '1598', '1969', '2480', '1996',
       '1600', '1498', '3471', '3500', '1798', '2494', '3456', '3956',
       '2694', '1986', '64.8', '1497', '1197', '1396', '1999', '2179',
       '1997', '1462', '1618', '3346', '3445', '1987', '1.24', '2755',
       '1490', '998', '75', '65', '72.6', '2500', '1591', '2000', '53.6',
       '3800', '39.2', '1.56', '3300', '999', '77', '32.3', '2967',
       '3954', '58', '1968', '1395', '1199', '1390', '2861', '1192',
       '1198', '35.8', '50', '1781', '3189', '800', '5552', '1332',
       '2997', '1461', '87', '2498', '1796', '4750', '5026', '1838',
       '2960', '2438', '2568', '2298', '1397', '2825', '2664', '3000',
       '1595', '3495', '987', '2389', '2999', '659', '1770', '1597',
       '4494', '2393', '1769', '2663', '4169', '3275', '4130', '2753',
       '1809', '1839', '2953', '2894', '17.9', '2981', '3745', '79.2',
       '93.4', '1988', '2497', '3995', '2700', '4194', '24', '624',
       '1193', '26', '1248', '6200', '40.5', '1956', '2956', '30.2',
       '100', '60', '82', '200', '3600', '2400', '1300', '5700', '6400',
       '17.3', '11.4', '1500', '3200', '1400', '5300', '6600', '66',
       '2800', '4300', '212', '3564', '5327', '2713', '6162', '1599',
       '3778', '77.4', '7993', '13000', '16100', '12800', '7700', '5100',
       '90', '5000', '3493', '1560', '2200', '-', '1000', '2300', '6700',
       'Battery', '5200', '7300', '89', '16', '1100', '1800', '660',
       '35.5', '657', '2600', '1308', '1588', '1590', '360', '1298',
       '2620', '2487'], dtype=object)

In [69]:
df_copy[~df_copy['CC/Battery Capacity'].str.isnumeric()]

,Company Names,Cars Names,Engines,CC/Battery Capacity,HorsePower,Total Speed,Performance(0 - 100 )KM/H,Cars Prices,Fuel Types,Seats,Torque
142,BMW,I8 ROADSTER,ELECTRIC MOTOR,11.6,369 hp,250 km/h,4.4 sec,"$165,000",Hybrid,2,570 Nm
216,TOYOTA,BZ4X,ELECTRIC,64.8,218 hp,200 km/h,7.5 sec,"$43,400",Electric,5,330 Nm
236,TOYOTA,MIRAI,"HYDROGEN FUEL CELL,ELECTRIC MOTOR",1.24,152 hp,180 km/h,9.0 sec,"$49,500",Hydrogen,5,335 Nm
251,HYUNDAI,IONIQ 5,ELECTRIC MOTOR,72.6,225 hp,185 km/h,7.4 sec,"$41,000",Electric,5,350 Nm
256,HYUNDAI,IONIQ 6,Electric Motor,53.6,320 hp,185 km/h,5.2 sec,"$41,450",Electric,5,350 Nm
262,HYUNDAI,KONA Electric,Electric Motor,39.2,200 hp,200 km/h,6.1 sec,"$40,000",Electric,5,395 Nm
264,HYUNDAI,NEXO,Electric Motor,1.56,161 hp,180 km/h,7.8 sec,"$38,000",Hydrogen,5,400 Nm
278,Volkswagen,Up!,Electric,32.3,82 hp,160 km/h,13.0 sec,"$15,000",Petrol,4,95 Nm
320,Volkswagen,Golf Electric,Electric,35.8,136 hp,140 km/h,10.4 sec,"$33,000",Electric,5,290 Nm
376,Volkswagen,Up! e-up!,Electric,32.3,83 hp,130 km/h,11.9 sec,"$23,000",Electric,4,210 Nm
534,Porsche,Panamera E-Hybrid,2.9L V6 + Electric Motor,17.9,455 HP,280 km/h,4.4 sec,"$115,000",Hybrid (Petrol),4,700 Nm
535,Porsche,Panamera 4 E-Hybrid Sport Turismo,2.9L V6 + Electric Motor,17.9,455 HP,280 km/h,4.4 sec,"$120,000",Hybrid (Petrol),4,700 Nm
536,Porsche,Panamera Turbo S E-Hybrid,4.0L V8 + Electric Motor,17.9,690 HP,315 km/h,3.2 sec,"$190,000",Hybrid (Petrol),4,870 Nm
543,Porsche,Cayenne Turbo S E-Hybrid,4.0L V8 + Electric Motor,17.9,670 HP,295 km/h,3.6 sec,"$170,000",Hybrid (Petrol),5,900 Nm
558,Porsche,Taycan,Dual Electric Motors,79.2,402 hp,230 km/h,5.4,"$86,700",Electric,4,344 Nm
559,Porsche,Taycan 4S,Dual Electric Motors,79.2,522 hp,250 km/h,4,"$103,800",Electric,4,640 Nm
560,Porsche,Taycan Turbo,Dual Electric Motors,93.4,670 hp,260 km/h,3.2,"$150,900",Electric,4,850 Nm
561,Porsche,Taycan Turbo S,Dual Electric Motors,93.4,750 hp,260 km/h,2.8,"$185,000",Electric,4,1050 Nm
562,Porsche,Taycan GTS,Dual Electric Motors,93.4,590 hp,250 km/h,3.5,"$132,750",Electric,4,850 Nm
563,Porsche,Taycan Cross Turismo,Dual Electric Motors,93.4,469 hp,220 km/h,4.8,"$97,700",Electric,5,500 Nm
564,Porsche,Taycan Sport Turismo,Dual Electric Motors,79.2,509 hp,240 km/h,4.1,"$104,000",Electric,5,650 Nm
598,Porsche,Taycan Base,Dual Electric Motors,79.2,321 hp,230 km/h,5.4,"$86,700",Electric,4,345 Nm
603,Porsche,Taycan Cross Turismo 4,Dual Electric Motors,93.4,375 hp,240 km/h,5.1 sec,"$94,800",Electric,4,500 Nm
604,Porsche,Taycan Cross Turismo GTS,Dual Electric Motors,93.4,590 hp,250 km/h,3.8 sec,"$139,400",Electric,4,620 Nm
605,Porsche,Taycan Sport Turismo Base,Dual Electric Motors,79.2,375 hp,230 km/h,5.4 sec,"$90,500",Electric,4,500 Nm
606,Porsche,Taycan Sport Turismo GTS,Dual Electric Motors,93.4,590 hp,250 km/h,3.7 sec,"$136,700",Electric,4,620 Nm
607,Porsche,Taycan Turbo S Cross Turismo,Dual Electric Motors,93.4,750 hp,260 km/h,2.9 sec,"$190,000",Electric,4,1050 Nm
649,Tata Motors,Nexon EV Max,Permanent Magnet Synchronous,40.5,143 hp,140 km/h,9 sec,"$25,000",Electric,5,250 Nm
657,Tata Motors,Nexon EV Prime,Permanent Magnet Synchronous,30.2,129 hp,120 km/h,9.4 sec,"$22,000",Electric,5,245 Nm
679,Jeep,Grand Cherokee 4xe,2.0L Turbo PHEV,17.3,375 hp,210 km/h,6.0 sec,"$59,865",Hybrid,5,637 Nm
680,Jeep,Wrangler 4xe,2.0L Turbo PHEV,17.3,375 hp,180 km/h,6.4 sec,"$50,695",Hybrid,5,637 Nm
681,Jeep,Compass 4xe,1.3L Turbo PHEV,11.4,240 hp,200 km/h,7.3 sec,"$46,500",Hybrid,5,270 Nm
682,Jeep,Renegade 4xe,1.3L Turbo PHEV,11.4,240 hp,200 km/h,7.5 sec,"$44,500",Hybrid,5,270 Nm
829,Kia,EV6 Wind,Electric Motor,77.4,225 hp,190 km/h,5.2 sec,"$50,000",Electric,5,350 Nm
837,Kia,EV6 First Edition,Electric Motor,77.4,320 hp,230 km/h,5.0 sec,"$58,000",Electric,5,450 Nm
848,Kia,EV6 Light,Electric Motor,77.4,225 hp,190 km/h,5.2 sec,"$46,000",Electric,5,350 Nm
854,Kia,EV6 GT Performance,Electric Motor,77.4,577 hp,260 km/h,3.5 sec,"$65,000",Electric,5,740 Nm
868,Kia,EV6 AWD GT-Line,Electric Motor,77.4,320 hp,230 km/h,5.0 sec,"$60,000",Electric,5,450 Nm
877,Kia,EV6 First Edition AWD,Electric Motor,77.4,320 hp,230 km/h,5.0 sec,"$62,000",Electric,5,450 Nm
994,Peugeot,Partner Electric,Electric Motor,-,136 hp,130 km/h,9.0 sec,"$40,000",Electric,5,260 Nm
995,Peugeot,Expert Electric,Electric Motor,-,136 hp,130 km/h,9.5 sec,"$45,000",Electric,5,260 Nm
1031,Ford,Mustang Mach-E,Electric Motor,Battery,290-480 hp,180 km/h,3.5 sec (GT Model),"$43,000 - $61,000",Electric,5,430 Nm (GT Model)
1032,Ford,F-150 Lightning,Electric Motor,Battery,452 hp,180 km/h,4.5 sec,"$40,000 - $90,000",Electric,5,1051 Nm
1139,Mazda,MX-30 Electric,Electric Motor,35.5,143 hp,140 km/h,9.7 sec,"$33,000 - $37,000",Electric,5,271 Nm

In [70]:
df_copy = df_copy.drop([994,995,1031,1032])
df_copy['CC/Battery Capacity']=df_copy['CC/Battery Capacity'].astype(float)

In [71]:
print(df_copy.shape)
df_copy.info()    ## there are 1202 records left!

(1202, 11)
<class 'pandas.core.frame.DataFrame'>
Index: 1202 entries, 0 to 1217
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Company Names              1202 non-null   object
 1   Cars Names                 1202 non-null   object
 2   Engines                    1202 non-null   object
 3   CC/Battery Capacity        1202 non-null   float64
 4   HorsePower                 1202 non-null   object
 5   Total Speed                1202 non-null   object
 6   Performance(0 - 100 )KM/H  1202 non-null   object
 7   Cars Prices                1202 non-null   object
 8   Fuel Types                 1202 non-null   object
 9   Seats                      1202 non-null   object
 10  Torque                     1202 non-null   object
dtypes: float64(1), object(10)
memory usage: 112.7+ KB

In [72]:
## Now converting Horsepower Column!
df_copy['HorsePower'].unique()

array(['963 hp', '563 hp', '70-85 hp', '630 hp', '602 hp', '710 hp',
       '656 hp', '550 hp', '750 hp', '789 hp', '592 hp', '612 hp',
       '382 hp', '205 hp', '228 hp', '381 hp', '600 hp', '332 hp',
       '400 hp', '188 hp', '300 hp', '149 hp', '201 hp', '284 hp',
       '310 hp', '1160 hp', '1000 hp', '715 hp', '503 hp', '542 hp',
       '580 hp', '540 hp', '836 hp', '819 hp', '759 hp', '640 hp',
       '740 hp', '641 hp', '610 hp', '700 hp', '769 hp', '671 hp',
       '591 hp', '624 hp', '496 hp', '603 hp', '429 hp', '362 hp',
       '416 hp', '402 hp', '255 hp', '627 hp', '493 hp', '444 hp',
       '523 hp', '623 hp', '335 hp', '349 hp', '306 hp', '248 hp',
       '369 hp', '136 hp', '261 hp', '302 hp', '116 hp', '190 hp',
       '109 hp', '150 hp', '178 hp', '224 hp', '95 hp', '102 hp',
       '163 hp', '247 hp', '295 hp', '187 hp', '240 hp', '315 hp',
       '192 hp', '227 hp', '285 hp', '180 hp', '301 hp', '139 hp',
       '121 hp', '203 hp', '270 hp', '159 hp', '151 hp', '245 hp',
       '219 hp', '282 hp', '344 hp', '106 hp', '144 hp', '218 hp',
       '236 hp', '168 hp', '140 hp', '119 hp', '158 hp', '87 hp', '99 hp',
       '147 hp', '155 hp', '83 hp', '103 hp', '220 hp', '305 hp',
       '437 hp', '169 hp', '152 hp', '296 hp', '204 hp', '184 hp',
       '114 hp', '71 hp', '204 hp ', '406 hp', '134 hp', '241 hp',
       '268 hp', '253 hp', '225 hp', '281 hp', '320 hp', '291 hp',
       '191 hp', '120 hp', '200 hp', '275 hp', '161 hp', '278 hp',
       '160 hp', '110 - 320 hp', '150 - 280 hp', '150 - 230 hp',
       '150 - 228 hp', '80 - 200 hp', '201 - 302 hp', '82 hp',
       '231 - 500 hp', '125 - 280 hp', '105 - 210 hp', '163 - 258 hp',
       '115 - 300 hp', '150 - 220 hp', '102 - 150 hp', '95 - 150 hp',
       '150 - 204 hp', '190 - 240 hp', '115 hp', '174 - 299 hp', '462 hp',
       '150 - 218 hp', '75 - 95 hp', '130 - 150 hp', '147 - 200 hp',
       '280 hp', '184 - 230 hp', '190 - 320 hp', '299 hp', '102 - 177 hp',
       '60 - 75 hp', '240 - 450 hp', '110 hp', '85 - 105 hp',
       '34 - 60 hp', '55 - 75 hp', '105 - 110 hp', '100 - 150 hp',
       '235 - 276 hp', '82 - 115 hp', '115 - 150 hp', '200 - 280 hp',
       '102 - 204 hp', '204 - 258 hp', '~170 hp', '75 - 105 hp', '421 hp',
       '98 hp', '150 - 320 hp', '120 - 240 hp', '137 hp', '272 hp',
       '170 hp', '150 - 200 hp', '68 hp', '150 - 184 hp', '150 - 240 hp',
       '190 - 280 hp', '130 hp', '122 - 150 hp', '61 hp', '215 hp',
       '290 hp', '190 - 230 hp', '174 hp', '147 - 150 hp', '207 hp',
       '231 - 340 hp', '310 - 340 hp', '265 hp', '122 HP', '100 HP',
       '400 HP', '156 HP', '260 HP', '300 HP', '201 HP', '137 HP',
       '109 HP', '118 HP', '117 HP', '110 HP', '261 HP', '600 HP',
       '332 HP', '389 HP', '126 HP', '115 HP', '102 HP', '133 HP',
       '79 HP', '141 HP', '179 HP', '284 HP', '104 HP', '720 HP',
       '350 HP', '428 HP', '140 HP', '150 HP', '210 HP', '120 HP',
       '280 HP', '250 HP', '190 HP', '158 HP', '420 HP', '390 HP',
       '125 HP', '276 HP', '268 HP', '129 HP', '85 HP', '130 HP', '67 HP',
       '94 HP', '247 HP', '105 HP', '204 HP', '500 HP', '328 HP', '96 HP',
       '200 HP', '550 HP', '76 HP', '134 HP', '48 HP', '131 HP', '138 HP',
       '205 HP', '187 HP', '565 HP', '325 HP', '151 HP', '135 HP',
       '127 HP', '230 HP', '114 HP', '155 HP', '170 HP', '270 HP',
       '255 HP', '340 HP', '145 HP', '175 HP', '375 HP', '330 HP',
       '440 HP', '620 HP', '473 HP', '455 HP', '690 HP', '335 HP',
       '434 HP', '541 HP', '453 HP', '670 HP', '379 HP', '443 hp',
       '379 hp', '572 hp', '502 hp', '518 hp', '473 hp', '522 hp',
       '670 hp', '590 hp', '469 hp', '509 hp', '350 hp', '414 hp',
       '394 hp', '325 hp', '690 hp', '560 hp', '570 hp', '375 hp',
       '434 hp', '455 hp', '631 hp', '453 hp', '262 hp', '380 hp',
       '728 hp', '321 hp', '237 hp', '360 hp', '525 hp', '607 hp',
       '510 hp', '500 hp', '515 hp', '86 hp', '74 hp', '86 hp / 89 hp',
       '37 hp', '70 hp', '65 hp', '75 hp / 90 hp', '420 hp',
       '70 hp / 85 hp', '85 hp', '118 hp / 110 hp', '143 hp', '154 hp',
       '138 hp', '118 hp', '129 hp', '1,020 hp', '283 hp', '450 hp',
       '346 hp', '384 hp', '800 hp', '1,288 hp', '293 hp', '177 hp',
       '392 hp', '471 hp', '108 hp', '357 hp', '271 hp', '470 hp',
       '235 hp', '340 hp', '682 hp', '668 hp', '472 hp', '495 hp',
       '308 hp', '355 hp', '401 hp', '445 hp', '250 hp', '650 hp',
       '181 hp', '460 hp', '193 hp', '175 hp', '625 hp', 'Up to 830 hp',
       'Up to 1,000 hp', 'Up to 754 hp', '277 hp', '146 hp', '365 hp',
       '577 hp', '1500 hp', '1600 hp', '1850 hp', '250 hp / 340 hp',
       '575 hp', '246 hp', '398 hp', '206 hp', '537 hp', '100 hp',
       '165 hp', '75 hp', '208 hp', '160 - 250 hp', '200 - 365 hp',
       '85 - 200 hp', '120 - 300 hp', '70 - 85 hp', '123 - 166 hp',
       '181 - 200 hp', '250 - 335 hp', '300 - 400 hp', '375 - 400 hp',
       '275 - 310 hp', '181 - 250 hp', '290 - 450 hp', '385 - 475 hp',
       '450 - 475 hp', '191 - 250 hp', '270 - 325 hp', '318 hp', '660 hp',
       '123 hp', '210 hp', '287 hp', '162 hp', '475 hp', '760 hp',
       '526 hp', '440 hp', '266 hp', '457 hp', '221 hp', '78 hp',
       '148 hp', '189 hp', '66 hp', '105 hp', '145 hp', '75 - 150 hp',
       '117 - 148 hp', '52 hp', '64 hp', '135 hp', '48 hp', '186 hp',
       '256 hp', '244 hp', '276 hp', '63 hp', '54 hp', '113 hp', '164 hp',
       '125 hp', '60 hp', '26 hp', '92 hp', '326 hp', '169 \x96 196 hp',
       '140 \x96 198 hp', '219 \x96 302 hp'], dtype=object)

In [73]:
## there are some records with range of hp but i will only consider lower range for ease of cleaning
df_copy['HorsePower']=df_copy['HorsePower'].str.split(" ").str[0]
df_copy['HorsePower'].unique()

array(['963', '563', '70-85', '630', '602', '710', '656', '550', '750',
       '789', '592', '612', '382', '205', '228', '381', '600', '332',
       '400', '188', '300', '149', '201', '284', '310', '1160', '1000',
       '715', '503', '542', '580', '540', '836', '819', '759', '640',
       '740', '641', '610', '700', '769', '671', '591', '624', '496',
       '603', '429', '362', '416', '402', '255', '627', '493', '444',
       '523', '623', '335', '349', '306', '248', '369', '136', '261',
       '302', '116', '190', '109', '150', '178', '224', '95', '102',
       '163', '247', '295', '187', '240', '315', '192', '227', '285',
       '180', '301', '139', '121', '203', '270', '159', '151', '245',
       '219', '282', '344', '106', '144', '218', '236', '168', '140',
       '119', '158', '87', '99', '147', '155', '83', '103', '220', '305',
       '437', '169', '152', '296', '204', '184', '114', '71', '406',
       '134', '241', '268', '253', '225', '281', '320', '291', '191',
       '120', '200', '275', '161', '278', '160', '110', '80', '82', '231',
       '125', '105', '115', '174', '462', '75', '130', '280', '299', '60',
       '85', '34', '55', '100', '235', '~170', '421', '98', '137', '272',
       '170', '68', '122', '61', '215', '290', '207', '265', '156', '260',
       '118', '117', '389', '126', '133', '79', '141', '179', '104',
       '720', '350', '428', '210', '250', '420', '390', '276', '129',
       '67', '94', '500', '328', '96', '76', '48', '131', '138', '565',
       '325', '135', '127', '230', '340', '145', '175', '375', '330',
       '440', '620', '473', '455', '690', '434', '541', '453', '670',
       '379', '443', '572', '502', '518', '522', '590', '469', '509',
       '414', '394', '560', '570', '631', '262', '380', '728', '321',
       '237', '360', '525', '607', '510', '515', '86', '74', '37', '70',
       '65', '143', '154', '1,020', '283', '450', '346', '384', '800',
       '1,288', '293', '177', '392', '471', '108', '357', '271', '470',
       '682', '668', '472', '495', '308', '355', '401', '445', '650',
       '181', '460', '193', '625', 'Up', '277', '146', '365', '577',
       '1500', '1600', '1850', '575', '246', '398', '206', '537', '165',
       '208', '123', '385', '318', '660', '287', '162', '475', '760',
       '526', '266', '457', '221', '78', '148', '189', '66', '52', '64',
       '186', '256', '244', '63', '54', '113', '164', '26', '92', '326'],
      dtype=object)

In [74]:
## replacing the records with "~"
df_copy['HorsePower']=df_copy['HorsePower'].str.replace("~","")
df_copy['HorsePower'].unique()

array(['963', '563', '70-85', '630', '602', '710', '656', '550', '750',
       '789', '592', '612', '382', '205', '228', '381', '600', '332',
       '400', '188', '300', '149', '201', '284', '310', '1160', '1000',
       '715', '503', '542', '580', '540', '836', '819', '759', '640',
       '740', '641', '610', '700', '769', '671', '591', '624', '496',
       '603', '429', '362', '416', '402', '255', '627', '493', '444',
       '523', '623', '335', '349', '306', '248', '369', '136', '261',
       '302', '116', '190', '109', '150', '178', '224', '95', '102',
       '163', '247', '295', '187', '240', '315', '192', '227', '285',
       '180', '301', '139', '121', '203', '270', '159', '151', '245',
       '219', '282', '344', '106', '144', '218', '236', '168', '140',
       '119', '158', '87', '99', '147', '155', '83', '103', '220', '305',
       '437', '169', '152', '296', '204', '184', '114', '71', '406',
       '134', '241', '268', '253', '225', '281', '320', '291', '191',
       '120', '200', '275', '161', '278', '160', '110', '80', '82', '231',
       '125', '105', '115', '174', '462', '75', '130', '280', '299', '60',
       '85', '34', '55', '100', '235', '170', '421', '98', '137', '272',
       '68', '122', '61', '215', '290', '207', '265', '156', '260', '118',
       '117', '389', '126', '133', '79', '141', '179', '104', '720',
       '350', '428', '210', '250', '420', '390', '276', '129', '67', '94',
       '500', '328', '96', '76', '48', '131', '138', '565', '325', '135',
       '127', '230', '340', '145', '175', '375', '330', '440', '620',
       '473', '455', '690', '434', '541', '453', '670', '379', '443',
       '572', '502', '518', '522', '590', '469', '509', '414', '394',
       '560', '570', '631', '262', '380', '728', '321', '237', '360',
       '525', '607', '510', '515', '86', '74', '37', '70', '65', '143',
       '154', '1,020', '283', '450', '346', '384', '800', '1,288', '293',
       '177', '392', '471', '108', '357', '271', '470', '682', '668',
       '472', '495', '308', '355', '401', '445', '650', '181', '460',
       '193', '625', 'Up', '277', '146', '365', '577', '1500', '1600',
       '1850', '575', '246', '398', '206', '537', '165', '208', '123',
       '385', '318', '660', '287', '162', '475', '760', '526', '266',
       '457', '221', '78', '148', '189', '66', '52', '64', '186', '256',
       '244', '63', '54', '113', '164', '26', '92', '326'], dtype=object)

In [75]:
df_copy[~df_copy['HorsePower'].str.isnumeric()]

,Company Names,Cars Names,Engines,CC/Battery Capacity,HorsePower,Total Speed,Performance(0 - 100 )KM/H,Cars Prices,Fuel Types,Seats,Torque
2,Ford,KA+,1.2L Petrol,1200.0,70-85,165 km/h,10.5 sec,"$12,000-$15,000",Petrol,5,100 - 140 Nm
660,Tesla,Model S Plaid,Tri Electric Motors,100.0,"1,020",322 km/h,2.1 sec,"$108,490",Electric,5,"1,400 Nm"
664,Tesla,Model X Plaid,Tri Electric Motors,100.0,"1,020",262 km/h,2.6 sec,"$113,490",Electric,6,"1,400 Nm"
668,Tesla,Roadster 2,Quad Electric Motors,200.0,"1,288",402 km/h,1.9 sec,"$200,000",Electric,4,"10,000 Nm"
795,GMC,Hummer EV SUV Edition 1,"Electric motors with up to 11,500 lb-ft torque",200.0,Up,170 km/h,3.5 sec,"$96,550",Electric,5,"15,590 Nm"
796,GMC,Hummer EV Pickup Edition 1,"Electric motors with up to 11,500 lb-ft torque",200.0,Up,170 km/h,3.0 sec,"$96,550",Electric,5,"15,590 Nm"
810,GMC,Hummer EV SUV Extreme Off-Road,"Electric motors with up to 11,500 lb-ft torque",200.0,Up,170 km/h,3.6 sec,"$110,000",Electric,5,"15,590 Nm"
811,GMC,Sierra EV Denali,Electric motors with advanced AWD,200.0,Up,170 km/h,4.5 sec,"$108,700",Electric,5,"1,064 Nm"
812,GMC,Hummer EV Omega Edition,"Electric motors with up to 11,500 lb-ft torque",200.0,Up,170 km/h,3.0 sec,"$112,700",Electric,5,"15,590 Nm"
819,GMC,Hummer EV Adventure Series,"Electric motors with up to 11,500 lb-ft torque",200.0,Up,170 km/h,3.6 sec,"$105,000",Electric,5,"15,590 Nm"

In [76]:
## removing the ","
df_copy['HorsePower']=df_copy['HorsePower'].str.replace(",","")
df_copy[~df_copy['HorsePower'].str.isnumeric()]

,Company Names,Cars Names,Engines,CC/Battery Capacity,HorsePower,Total Speed,Performance(0 - 100 )KM/H,Cars Prices,Fuel Types,Seats,Torque
2,Ford,KA+,1.2L Petrol,1200.0,70-85,165 km/h,10.5 sec,"$12,000-$15,000",Petrol,5,100 - 140 Nm
795,GMC,Hummer EV SUV Edition 1,"Electric motors with up to 11,500 lb-ft torque",200.0,Up,170 km/h,3.5 sec,"$96,550",Electric,5,"15,590 Nm"
796,GMC,Hummer EV Pickup Edition 1,"Electric motors with up to 11,500 lb-ft torque",200.0,Up,170 km/h,3.0 sec,"$96,550",Electric,5,"15,590 Nm"
810,GMC,Hummer EV SUV Extreme Off-Road,"Electric motors with up to 11,500 lb-ft torque",200.0,Up,170 km/h,3.6 sec,"$110,000",Electric,5,"15,590 Nm"
811,GMC,Sierra EV Denali,Electric motors with advanced AWD,200.0,Up,170 km/h,4.5 sec,"$108,700",Electric,5,"1,064 Nm"
812,GMC,Hummer EV Omega Edition,"Electric motors with up to 11,500 lb-ft torque",200.0,Up,170 km/h,3.0 sec,"$112,700",Electric,5,"15,590 Nm"
819,GMC,Hummer EV Adventure Series,"Electric motors with up to 11,500 lb-ft torque",200.0,Up,170 km/h,3.6 sec,"$105,000",Electric,5,"15,590 Nm"

In [77]:
# also there is one row the non numerics hp with the median of numerics hp
numeric_hp = df_copy[df_copy["HorsePower"].str.isnumeric()]
numeric_hp['HorsePower'] = numeric_hp['HorsePower'].astype(int)
numeric_hp.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1195 entries, 0 to 1217
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Company Names              1195 non-null   object
 1   Cars Names                 1195 non-null   object
 2   Engines                    1195 non-null   object
 3   CC/Battery Capacity        1195 non-null   float64
 4   HorsePower                 1195 non-null   int64
 5   Total Speed                1195 non-null   object
 6   Performance(0 - 100 )KM/H  1195 non-null   object
 7   Cars Prices                1195 non-null   object
 8   Fuel Types                 1195 non-null   object
 9   Seats                      1195 non-null   object
 10  Torque                     1195 non-null   object
dtypes: float64(1), int64(1), object(9)
memory usage: 112.0+ KB

C:\Users\ABC\AppData\Local\Temp\ipykernel_272\3378259477.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  numeric_hp['HorsePower'] = numeric_hp['HorsePower'].astype(int)

In [78]:
## replacing non numeric column with median!
df_copy['HorsePower'] = df_copy['HorsePower'].replace(to_replace=r'.*Up.*', value=np.nan, regex=True)

In [79]:
numeric_hp['HorsePower'].median()

np.float64(250.0)

In [80]:
df_copy['HorsePower']=df_copy['HorsePower'].fillna('250.0')

In [81]:
df_copy['HorsePower']=df_copy['HorsePower'].str.split("-").str[0]

In [82]:
df_copy['HorsePower'] = df_copy['HorsePower'].astype(float)

In [83]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1202 entries, 0 to 1217
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Company Names              1202 non-null   object
 1   Cars Names                 1202 non-null   object
 2   Engines                    1202 non-null   object
 3   CC/Battery Capacity        1202 non-null   float64
 4   HorsePower                 1202 non-null   float64
 5   Total Speed                1202 non-null   object
 6   Performance(0 - 100 )KM/H  1202 non-null   object
 7   Cars Prices                1202 non-null   object
 8   Fuel Types                 1202 non-null   object
 9   Seats                      1202 non-null   object
 10  Torque                     1202 non-null   object
dtypes: float64(2), object(9)
memory usage: 112.7+ KB

In [84]:
## Now converting Total speed!
df_copy['Total Speed'].unique()

array(['340 km/h', '250 km/h', '165 km/h', '320 km/h', '341 km/h',
       '314 km/h', '318 km/h', '356 km/h', '226 km/h', '220 km/h',
       '200 km/h', '315 km/h', '290 km/h', '225 km/h', '240 km/h',
       '180 km/h', '402 km/h', '362 km/h', '322 km/h', '313 km/h',
       '291 km/h', '328 km/h', '324 km/h', '350 km/h', '325 km/h',
       '305 km/h', '355 km/h', '285 km/h', '280 km/h', '330 km/h',
       '230 km/h', '213 km/h', '216 km/h', '185 km/h', '195 km/h',
       '211 km/h', '210 km/h', '272 km/h', '201 km/h', '186 km/h',
       '209 km/h', '190 km/h', '160 km/h', '170 km/h', '175 km/h',
       '130 km/h', '215 km/h', '235 km/h', '233 km/h', '205 km/h',
       '183 km/h', '145 km/h', '238 km/h', '196 km/h', '217 km/h',
       '138 km/h', '148 km/h', '140 km/h', '193 km/h', '191 km/h',
       '222 km/h', '246 km/h', '187 km/h', '237 km/h', '168 km/h',
       '270 km/h', '155 km/h', '354 km/h', '110 km/h', '150 km/h',
       '289 km/h', '300 km/h', '245 km/h', '265 km/h', '286 km/h',
       '295 km/h', '232 km/h', '259 km/h', '293 km/h', '308 km/h',
       '306 km/h', '296 km/h', '260 km/h', '275 km/h', '302 km/h',
       '301 km/h', '310 km/h', '253 km/h', '263 km/h', '221 km/h',
       '242 km/h', '304 km/h', '311 km/h', '307 km/h', '120 km/h',
       '105 km/h', '162 km/h', '125 km/h', '261 km/h', '262 km/h',
       '177 km/h', '312 km/h', '420 km/h', '490 km/h', '380 km/h',
       '500 km/h', '100 km/h', '90 km/h', '80 km/h', '283 km/h',
       '348 km/h', '204 km/h', '85 km/h'], dtype=object)

In [85]:
df_copy['Total Speed']=df_copy['Total Speed'].str.split(" ").str[0]
df_copy['Total Speed']=df_copy['Total Speed'].astype(float)
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1202 entries, 0 to 1217
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Company Names              1202 non-null   object
 1   Cars Names                 1202 non-null   object
 2   Engines                    1202 non-null   object
 3   CC/Battery Capacity        1202 non-null   float64
 4   HorsePower                 1202 non-null   float64
 5   Total Speed                1202 non-null   float64
 6   Performance(0 - 100 )KM/H  1202 non-null   object
 7   Cars Prices                1202 non-null   object
 8   Fuel Types                 1202 non-null   object
 9   Seats                      1202 non-null   object
 10  Torque                     1202 non-null   object
dtypes: float64(3), object(8)
memory usage: 112.7+ KB

In [86]:
## now converting 0-100 time!
df_copy['Performance(0 - 100 )KM/H'].unique()

array(['2.5 sec', '5.3 sec', '10.5 sec', '3.2 sec', '3.6 sec', '2.9 sec',
       '4.0 sec', '3.4 sec', '4.1 sec', '6.4 sec', '5.6 sec', '6.7 sec',
       '6.9 sec', '4.7 sec', '7.3 sec', '5.8 sec', '8.2 sec', '7.5 sec',
       '6.5 sec', '6.8 sec', '5.9 sec', '3.9 sec', '4.5 sec', '4.2 sec',
       '2.8 sec', '3.0 sec', '3.1 sec', '3.3 sec', '4.8 sec', '4.4 sec',
       '4.9 sec', '5.2 sec', '4.3 sec', '5.1 sec', '5.5 sec', '5.7 sec',
       ' 6.1 sec', '6.1 sec', '3.7 sec', '3.5 sec', '5.4 sec', '6.3 sec',
       '3.8 sec', '8.5 sec', '10.3 sec', '10.9 sec', '8.4 sec',
       '7.1  sec', '12.2 sec', '11.2 sec', '8.9 sec', '7.1 sec',
       '7.7 sec', '7.2 sec', '8.0 sec', '8.3 sec', '7.9 sec', '8.1 sec',
       '6.0 sec', '9.4 sec', '9.5 sec', '9.2 sec', '6.2 sec', '10.2 sec',
       '7.6 sec', '11.5 sec', '5. 0 sec', '9.0 sec', '10.0 sec', '11 sec',
       '14.8 sec', '13.5 sec', '9.3 sec', '7.4 sec', '10. 5 sec', '8 sec',
       '9.8 sec', '6 sec', '7.8 sec', '13.0 sec', '7.0 sec', '4.6 sec',
       '8.8 sec', '14.3 sec', '12.9 sec', '10.8 sec', '23.0 sec',
       '17.5 sec', '11.7 sec', '10.4 sec', '8.6 sec', '12.4 sec',
       '9.6 sec', '9.9 sec', '8.7 sec', '12.0 sec', '11.9 sec',
       '14.5 sec', '10.7 sec', '11.0 sec', '10.6 sec', '6.6 sec',
       '10.1 sec', '13.7 sec', '12.5 sec', '5.0 sec', '15.0 sec',
       '14.0 sec', '12.3 sec', '12.8 sec', '18.0 sec', '18.5 sec',
       '13.8 sec', '3.5', '4.2', '3.4', '4.4', '2.7', '2.6', '3.2', '5.4',
       '4', '2.8', '4.8', '4.1', '4.9', '4.7', '4.3', '5.6', '5.5', '3.7',
       '3.9', '3.8', '6.4', '6.2', '4.6', '5.9', '3.3', '5.8', '3.6',
       '4.5', '7.3', '6.5', '2.7 sec', '13 sec', '12 sec', '10 sec',
       '29 sec', '16 sec', '15 sec', '16.5 sec', '17 sec', '14 sec',
       '9 sec', '17.6 sec', '2.1 sec', '2.6 sec', '1.9 sec', '9.1 sec',
       '2.3 sec', '2.4 sec', '2.2 sec', '16.0 sec', '17.0 sec',
       '20.0 sec', '22.0 sec', '7.2 sec / 5.4 sec', '9.7 sec',
       '5.0 - 6.5 sec', '6.5 - 7.0 sec', '7.0 - 8.0 sec', '6.5 - 8.0 sec',
       '6.0 - 7.0 sec', '9.0 - 12.0 sec', '15.5 sec', '35.0 sec',
       '8.0 \x96 9.2 sec', '7.9 \x96 10.5 sec', '6.0 \x96 8.1 sec'],
      dtype=object)

In [87]:
df_copy['Performance(0 - 100 )KM/H']=df_copy['Performance(0 - 100 )KM/H'].str.split(" ").str[0]
df_copy['Performance(0 - 100 )KM/H'].unique()

array(['2.5', '5.3', '10.5', '3.2', '3.6', '2.9', '4.0', '3.4', '4.1',
       '6.4', '5.6', '6.7', '6.9', '4.7', '7.3', '5.8', '8.2', '7.5',
       '6.5', '6.8', '5.9', '3.9', '4.5', '4.2', '2.8', '3.0', '3.1',
       '3.3', '4.8', '4.4', '4.9', '5.2', '4.3', '5.1', '5.5', '5.7', '',
       '6.1', '3.7', '3.5', '5.4', '6.3', '3.8', '8.5', '10.3', '10.9',
       '8.4', '7.1', '12.2', '11.2', '8.9', '7.7', '7.2', '8.0', '8.3',
       '7.9', '8.1', '6.0', '9.4', '9.5', '9.2', '6.2', '10.2', '7.6',
       '11.5', '5.', '9.0', '10.0', '11', '14.8', '13.5', '9.3', '7.4',
       '10.', '8', '9.8', '6', '7.8', '13.0', '7.0', '4.6', '8.8', '14.3',
       '12.9', '10.8', '23.0', '17.5', '11.7', '10.4', '8.6', '12.4',
       '9.6', '9.9', '8.7', '12.0', '11.9', '14.5', '10.7', '11.0',
       '10.6', '6.6', '10.1', '13.7', '12.5', '5.0', '15.0', '14.0',
       '12.3', '12.8', '18.0', '18.5', '13.8', '2.7', '2.6', '4', '13',
       '12', '10', '29', '16', '15', '16.5', '17', '14', '9', '17.6',
       '2.1', '1.9', '9.1', '2.3', '2.4', '2.2', '16.0', '17.0', '20.0',
       '22.0', '9.7', '15.5', '35.0'], dtype=object)

In [88]:
df_copy[df_copy['Performance(0 - 100 )KM/H'] == ""]

,Company Names,Cars Names,Engines,CC/Battery Capacity,HorsePower,Total Speed,Performance(0 - 100 )KM/H,Cars Prices,Fuel Types,Seats,Torque
91,MERCEDES,BENZ GLE 350,I4,1991.0,255.0,250.0,,"$53,000",Petrol,5,500 Nm

In [89]:
df_copy = df_copy.drop([91])
df_copy['Performance(0 - 100 )KM/H']=df_copy['Performance(0 - 100 )KM/H'].astype(float)

In [90]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1201 entries, 0 to 1217
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Company Names              1201 non-null   object
 1   Cars Names                 1201 non-null   object
 2   Engines                    1201 non-null   object
 3   CC/Battery Capacity        1201 non-null   float64
 4   HorsePower                 1201 non-null   float64
 5   Total Speed                1201 non-null   float64
 6   Performance(0 - 100 )KM/H  1201 non-null   float64
 7   Cars Prices                1201 non-null   object
 8   Fuel Types                 1201 non-null   object
 9   Seats                      1201 non-null   object
 10  Torque                     1201 non-null   object
dtypes: float64(4), object(7)
memory usage: 112.6+ KB

In [91]:
## Converting Car Prices!
df_copy['Cars Prices'].unique()

array(['$1,100,000 ', '$460,000 ', '$12,000-$15,000', '$161,000 ',
       '$253,290 ', '$499,000 ', '$193,440 ', '$311,000 ', '$4,500,000 ',
       '$280,000 ', '$350,000 ', '$210,000 ', '$230,000 ', '$1,700,000 ',
       '$220,000 ', '$240,000 ', '$53,900 ', '$27,000 ', '$30,000 ',
       '$85,000 ', '$50,000 ', '$113,000 ', '$40,000 ', '$25,000 ',
       '$35,000 ', '$20,000 ', '$28,000 ', '$3,200,000 ', '$316,000 ',
       '$208,000 ', '$142,000 ', '$189,000 ', '$294,000 ', '$1,300,000 ',
       '$2,800,000 ', '$518,000 ', '$274,000 ', '$261,000 ', '$493,000 ',
       '$211,000 ', '$287,000 ', '$445,000 ', '$308,000 ', '$421,000 ',
       '$242,000 ', '$545,000 ', '$258,000 ', '$573,000 ', '$263,000 ',
       '$327,000 ', '$273,000 ', '$603,000 ', '$253,000 ', '$342,000 ',
       '$332,000 ', '$330,000 ', '$360,000 ', '$325,000 ', '$500,000 ',
       '$370,000 ', '$390,000 ', '$450,000 ', '$340,000 ', '$380,000 ',
       '$320,000 ', '$116,000 ', '$104,000 ', '$53,000 ', '$109,000 ',
       '$62,000 ', '$70,000 ', '$99,000 ', '$63,000 ', '$52,000 ',
       '$49,000 ', '$54,000 ', '$48,000 ', '$46,000 ', '$71,000 ',
       '$90,000 ', '$200,000 ', '$133,000 ', '$76,000 ', '$83,000 ',
       '$114,000 ', '$69,000 ', '$146,000 ', '$108,000 ', '$398,000 ',
       '$381,000 ', '$475,000 ', '$335,000 ', '$349,000 ', '$495,000 ',
       '$355,000 ', '$369,000 ', '$418,000 ', '$401,000 ', '$515,000 ',
       '$375,000 ', '$389,000 ', '$439,000 ', '$194,000 ', '$101,000 ',
       '$96,000 ', '$86,000 ', '$64,000 ', '$59,000 ', '$60,000 ',
       '$43,000 ', '$68,000 ', '$58,000 ', '$45,000 ', '$39,000 ',
       '$75,000 ', '$78,000 ', '$165,000 ', '$57,000 ', '$81,000 ',
       '$32,000 ', '$42,000 ', '$38,000 ', '$34,000 ', '$37,000 ',
       '$26,000 ', '$44,000 ', '$29,000 ', '$31,000 ', '$36,000 ',
       '$55,000 ', '$33,000 ', '$41,000 ', '$32,500 ', '$29,400 ',
       '$26,500 ', '$26,350 ', '$22,500 ', '$26,700 ', '$27,100 ',
       '$38,400 ', '$37,400 ', '$26,400 ', '$39,900 ', '$41,400 ',
       '$52,400 ', '$44,150 ', '$33,400 ', '$40,400 ', '$49,400 ',
       '$43,400 ', '$18,400 ', '$24,400 ', '$15,400 ', '$20,400 ',
       '$12,400 ', '$16,400 ', '$10,400 ', '$11,400 ', '$14,400 ',
       '$31,100 ', '$36,995 ', '$58,500 ', '$56,000 ', '$25,390 ',
       '$49,500 ', '$18,000 ', '$170,000 ', '$24,000 ', '$40,799 ',
       '$20,500 ', '$19,950 ', '$41,450 ', '$30,500 ', '$15,000 ',
       '$19,000 ', '$22,000 ', '$23,000 ', '$28,505 ', '$21,995 ',
       '$39,735 ', '$59,995 ', '$31,965 ', '$44,640 ', '$14,000 ',
       '$12,000 ', '$150,000 ', '$16,700 ', '$15,500 ', '$77,000 ',
       '$51,000 ', '$14,500 ', '$16,000 ', '$41,820 ', '$58,950 ',
       '$70,600 ', '$13,000 ', '$18,500 ', '$24,960 ', '$28,500 ',
       '$42,820 ', '$65,300 ', '$45,790 ', '$105,000 ', '$41,750 ',
       '$42,500 ', '$175,000 ', '$98,000 ', '$61,750 ', '$17,500 ',
       '$95,000 ', '$185,000 ', '$67,000 ', '$47,000 ', '$600,000 ',
       '$1,000,000 ', '$10,000 ', '$88,000 ', '$92,000 ', '$180,000 ',
       '$130,000 ', '$102,000 ', '$115,000 ', '$120,000 ', '$190,000 ',
       '$80,000 ', '$110,000 ', '$65,000 ', '$131,300 ', '$106,500 ',
       '$113,300 ', '$121,300 ', '$197,200 ', '$230,400 ', '$161,100 ',
       '$241,300 ', '$222,000 ', '$86,700 ', '$103,800 ', '$150,900 ',
       '$132,750 ', '$97,700 ', '$63,400 ', '$75,400 ', '$100,200 ',
       '$141,700 ', '$65,500 ', '$69,600 ', '$90,300 ', '$98,300 ',
       '$92,300 ', '$101,400 ', '$200,200 ', '$128,900 ', '$136,900 ',
       '$175,200 ', '$290,000 ', '$70,400 ', '$82,900 ', '$72,200 ',
       '$91,000 ', '$94,300 ', '$182,150 ', '$79,000 ', '$167,800 ',
       '$111,200 ', '$85,500 ', '$182,900 ', '$34,395 ', '$46,595 ',
       '$38,195 ', '$50,995 ', '$94,800 ', '$139,400 ', '$90,500 ',
       '$136,700 ', '$106,100 ', '$129,900 ', '$137,000 ', '$157,300 ',
       '$184,100 ', '$207,000 ', '$223,800 ', '$145,300 ', '$135,500 ',
       '$293,200 ', '$245,000 ', '$750,000 ', '$191,300 ', '$233,000 ',
       '$8,200 ', '$11,000 ', '$11,300 ', '$11,800 ', '$9,200 ',
       '$4,000 ', '$6,200 ', '$5,000 ', '$9,400 ', '$8,700 ', '$6,500 ',
       '$79,295 ', '$8,300 ', '$9,000 ', '$7,000 ', '$7,200 ', '$82,295 ',
       '$25,500 ', '$10,500 ', '$16,500 ', '$88,490 ', '$108,490 ',
       '$40,240 ', '$53,240 ', '$98,490 ', '$113,490 ', '$47,490 ',
       '$50,490 ', '$69,900 ', '$35,195 ', '$42,100 ', '$41,530 ',
       '$43,530 ', '$37,695 ', '$31,590 ', '$28,345 ', '$38,775 ',
       '$63,595 ', '$91,495 ', '$59,865 ', '$50,695 ', '$46,500 ',
       '$44,500 ', '$17,000-$20,000', '$51,570 ', '$66,575 ', '$41,295 ',
       '$82,495 ', '$37,490 ', '$44,195 ', '$48,595 ', '$58,590 ',
       '$149,990 ', '$104,595 ', '$60,495 ', '$41,390 ', '$51,095 ',
       '$57,095 ', '$59,990 ', '$64,990 ', '$41,290 ', '$14,595 ',
       '$16,720 ', '$65,895 ', '$35,915 ', '$26,600 ', '$56,995 ',
       '$59,900 ', '$30,695 ', '$42,795 ', '$41,500 ', '$45,500 ',
       '$27,495 ', '$28,795 ', '$23,100 ', '$33,500 ', '$67,300 ',
       '$61,595 ', '$55,895 ', '$50,895 ', '$48,295 ', '$46,600 ',
       '$48,900 ', '$43,500 ', '$65,900 ', '$43,700 ', '$25,800 ',
       '$17,595 ', '$24,100 ', '$28,400 ', '$75,700 ', '$29,200 ',
       '$82,400 ', '$33,900 ', '$14,395 ', '$37,200 ', '$36,100 ',
       '$34,500 ', '$31,900 ', '$34,900 ', '$56,400 ', '$64,100 ',
       '$64,400 ', '$31,700 ', '$62,495 ', '$66,700 ', '$71,600 ',
       '$76,700 ', '$29,900 ', '$36,800 ', '$57,400 ', '$61,100 ',
       '$36,900 ', '$37,100 ', '$43,900 ', '$108,700 ', '$105,600 ',
       '$72,800 ', '$66,800 ', '$36,500 ', '$53,800 ', '$93,800 ',
       '$38,600 ', '$54,300 ', '$71,505 ', '$73,305 ', '$72,000 ',
       '$36,300 ', '$82,000 ', '$28,700 ', '$96,550 ', '$76,805 ',
       '$37,700 ', '$112,700 ', '$17,000 ', '$23,500 ', '$35,500 ',
       '$39,500 ', '$51,500 ', '$3,000,000 ', '$3,300,000 ',
       '$3,500,000 ', '$5,800,000 ', '$9,000,000 ', '$18,000,000 ',
       '$5,000,000 ', '$160,000 ', '$100,000 ', '$125,000 ',
       '$55,000 / $65,000', '$157,000 ', '$25,000 - $40,000',
       '$30,000 - $45,000', '$15,000 - $25,000', '$20,000 - $30,000',
       '$12,000 - $15,000', '$20,000 - $25,000', '$25,000 - $38,000',
       '$35,000 - $45,000', '$35,000 - $55,000', '$50,000 - $75,000',
       '$30,000 - $55,000', '$26,000 - $38,000', '$35,000 - $75,000',
       '$40,000 - $70,000', '$45,000 - $75,000', '$22,000 - $30,000',
       '$25,000 - $45,000', '$28,000 - $38,000', '$50,000 - $55,000',
       '$43,455 ', '$29,365 ', '$61,625 ', '$64,540 ', '$79,420 ',
       '$59,140 ', '$64,695 ', '$84,910 ', '$56,505 ', '$79,560 ',
       '$16,000 - $18,000', '$17,000 - $19,000', '$28,000 - $35,000',
       '$39,000 - $43,000', '$25,000 - $28,000', '$23,000 - $26,000',
       '$40,000 - $45,000', '$35,000 - $40,000', '$25,000 - $35,000',
       '$40,000 - $50,000', '$15,000 - $20,000', '$25,000 - $30,000',
       '$32,000 - $35,000', '$31,000 - $34,000', '$29,000 - $32,000',
       '$28,000 - $30,000', '$26,000 - $28,000', '$27,000 - $35,000',
       '$45,000 - $50,000', '$30,000 - $35,000', '$15,000 - $17,000',
       '$23,000 - $25,000', '$17,000 - $20,000', '$20,000 - $23,000',
       '$10,000 - $12,000', '$15,000 - $18,000', '$18,000 - $22,000',
       '$22,000 - $26,000', '$24,000 - $28,000', '$21,000 - $25,000',
       '$23,000 - $28,000', '$26,000 - $32,000', '$29,000 - $36,000',
       '$36,000 - $42,000', '$38,000 - $45,000', '$50,000 - $60,000',
       '$27,000 - $33,000', '$33,000 - $40,000', '$33,000 - $37,000',
       '$22,000 - $28,000', '$28,000 - $33,000', '$24,000 - $30,000',
       '$30,000 - $50,000', '$14,000 - $18,000', '$12,000 - $16,000',
       '$18,000 - $24,000', '$13,000 - $18,000', '$9,000 - $12,000',
       '$12,000 - $18,000', '$8,000 - $10,000', '$9,000 - $11,000',
       '$20,000 - $24,000', '$20,000 - $22,000', '$28,000 - $32,000',
       '$18,000 - $20,000', '$13,000 - $16,000', '$14,000 - $16,000',
       '$5,000,000 - $7,000,000', '$43,590 \x96 $48,000',
       '$25,210 \x96 $29,135', '\x80 33,000', '$29,000 \x96 $43,000'],
      dtype=object)

In [92]:
df_copy['Cars Prices']=df_copy['Cars Prices'].str.split(" ").str[0]
df_copy['Cars Prices']=df_copy['Cars Prices'].str.replace(",","")
df_copy['Cars Prices']=df_copy['Cars Prices'].str.replace("$","")
df_copy['Cars Prices']=df_copy['Cars Prices'].str.split("-").str[0]
df_copy['Cars Prices']=df_copy['Cars Prices'].str.split("\x80").str[0]
df_copy['Cars Prices'].unique()

array(['1100000', '460000', '12000', '161000', '253290', '499000',
       '193440', '311000', '4500000', '280000', '350000', '210000',
       '230000', '1700000', '220000', '240000', '53900', '27000', '30000',
       '85000', '50000', '113000', '40000', '25000', '35000', '20000',
       '28000', '3200000', '316000', '208000', '142000', '189000',
       '294000', '1300000', '2800000', '518000', '274000', '261000',
       '493000', '211000', '287000', '445000', '308000', '421000',
       '242000', '545000', '258000', '573000', '263000', '327000',
       '273000', '603000', '253000', '342000', '332000', '330000',
       '360000', '325000', '500000', '370000', '390000', '450000',
       '340000', '380000', '320000', '116000', '104000', '53000',
       '109000', '62000', '70000', '99000', '63000', '52000', '49000',
       '54000', '48000', '46000', '71000', '90000', '200000', '133000',
       '76000', '83000', '114000', '69000', '146000', '108000', '398000',
       '381000', '475000', '335000', '349000', '495000', '355000',
       '369000', '418000', '401000', '515000', '375000', '389000',
       '439000', '194000', '101000', '96000', '86000', '64000', '59000',
       '60000', '43000', '68000', '58000', '45000', '39000', '75000',
       '78000', '165000', '57000', '81000', '32000', '42000', '38000',
       '34000', '37000', '26000', '44000', '29000', '31000', '36000',
       '55000', '33000', '41000', '32500', '29400', '26500', '26350',
       '22500', '26700', '27100', '38400', '37400', '26400', '39900',
       '41400', '52400', '44150', '33400', '40400', '49400', '43400',
       '18400', '24400', '15400', '20400', '12400', '16400', '10400',
       '11400', '14400', '31100', '36995', '58500', '56000', '25390',
       '49500', '18000', '170000', '24000', '40799', '20500', '19950',
       '41450', '30500', '15000', '19000', '22000', '23000', '28505',
       '21995', '39735', '59995', '31965', '44640', '14000', '150000',
       '16700', '15500', '77000', '51000', '14500', '16000', '41820',
       '58950', '70600', '13000', '18500', '24960', '28500', '42820',
       '65300', '45790', '105000', '41750', '42500', '175000', '98000',
       '61750', '17500', '95000', '185000', '67000', '47000', '600000',
       '1000000', '10000', '88000', '92000', '180000', '130000', '102000',
       '115000', '120000', '190000', '80000', '110000', '65000', '131300',
       '106500', '113300', '121300', '197200', '230400', '161100',
       '241300', '222000', '86700', '103800', '150900', '132750', '97700',
       '63400', '75400', '100200', '141700', '65500', '69600', '90300',
       '98300', '92300', '101400', '200200', '128900', '136900', '175200',
       '290000', '70400', '82900', '72200', '91000', '94300', '182150',
       '79000', '167800', '111200', '85500', '182900', '34395', '46595',
       '38195', '50995', '94800', '139400', '90500', '136700', '106100',
       '129900', '137000', '157300', '184100', '207000', '223800',
       '145300', '135500', '293200', '245000', '750000', '191300',
       '233000', '8200', '11000', '11300', '11800', '9200', '4000',
       '6200', '5000', '9400', '8700', '6500', '79295', '8300', '9000',
       '7000', '7200', '82295', '25500', '10500', '16500', '88490',
       '108490', '40240', '53240', '98490', '113490', '47490', '50490',
       '69900', '35195', '42100', '41530', '43530', '37695', '31590',
       '28345', '38775', '63595', '91495', '59865', '50695', '46500',
       '44500', '17000', '51570', '66575', '41295', '82495', '37490',
       '44195', '48595', '58590', '149990', '104595', '60495', '41390',
       '51095', '57095', '59990', '64990', '41290', '14595', '16720',
       '65895', '35915', '26600', '56995', '59900', '30695', '42795',
       '41500', '45500', '27495', '28795', '23100', '33500', '67300',
       '61595', '55895', '50895', '48295', '46600', '48900', '43500',
       '65900', '43700', '25800', '17595', '24100', '28400', '75700',
       '29200', '82400', '33900', '14395', '37200', '36100', '34500',
       '31900', '34900', '56400', '64100', '64400', '31700', '62495',
       '66700', '71600', '76700', '29900', '36800', '57400', '61100',
       '36900', '37100', '43900', '108700', '105600', '72800', '66800',
       '36500', '53800', '93800', '38600', '54300', '71505', '73305',
       '72000', '36300', '82000', '28700', '96550', '76805', '37700',
       '112700', '23500', '35500', '39500', '51500', '3000000', '3300000',
       '3500000', '5800000', '9000000', '18000000', '5000000', '160000',
       '100000', '125000', '157000', '43455', '29365', '61625', '64540',
       '79420', '59140', '64695', '84910', '56505', '79560', '21000',
       '8000', '43590', '25210', ''], dtype=object)

In [93]:
df_copy[df_copy['Cars Prices']==""]
df_copy=df_copy.drop([1216])
df_copy['Cars Prices']=df_copy['Cars Prices'].astype(float)

In [94]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1200 entries, 0 to 1217
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Company Names              1200 non-null   object
 1   Cars Names                 1200 non-null   object
 2   Engines                    1200 non-null   object
 3   CC/Battery Capacity        1200 non-null   float64
 4   HorsePower                 1200 non-null   float64
 5   Total Speed                1200 non-null   float64
 6   Performance(0 - 100 )KM/H  1200 non-null   float64
 7   Cars Prices                1200 non-null   float64
 8   Fuel Types                 1200 non-null   object
 9   Seats                      1200 non-null   object
 10  Torque                     1200 non-null   object
dtypes: float64(5), object(6)
memory usage: 112.5+ KB

In [95]:
# converting the seats
df_copy['Seats'].unique()
lst=['\x915','\x967','\x966','\x969','\x9612']
for item in lst:
    df_copy['Seats']=df_copy['Seats'].str.split(item).str[0]
df_copy['Seats']=df_copy['Seats'].str.replace("2+2","4")
df_copy['Seats'].unique()

array(['2', '5', '4', '7', '8', '12', '3', '9', '6', '1', '2\x9615',
       '7\x968'], dtype=object)

In [96]:
df_copy['Seats']=df_copy['Seats'].str.split("\x968").str[0]
df_copy['Seats']=df_copy['Seats'].str.split("\x9615").str[0]
df_copy['Seats']=df_copy['Seats'].astype(int)

In [97]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1200 entries, 0 to 1217
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Company Names              1200 non-null   object
 1   Cars Names                 1200 non-null   object
 2   Engines                    1200 non-null   object
 3   CC/Battery Capacity        1200 non-null   float64
 4   HorsePower                 1200 non-null   float64
 5   Total Speed                1200 non-null   float64
 6   Performance(0 - 100 )KM/H  1200 non-null   float64
 7   Cars Prices                1200 non-null   float64
 8   Fuel Types                 1200 non-null   object
 9   Seats                      1200 non-null   int64
 10  Torque                     1200 non-null   object
dtypes: float64(5), int64(1), object(5)
memory usage: 112.5+ KB

In [98]:
## now only 1 column is left! converting that also
df_copy['Torque'].unique()
df_copy['Torque']=df_copy['Torque'].str.split(" ").str[0]
df_copy['Torque']=df_copy['Torque'].str.split("-").str[0]
df_copy['Torque']=df_copy['Torque'].str.replace(",","")
df_copy['Torque']=df_copy['Torque'].str.split("+").str[0]
df_copy['Torque'].unique()

array(['800', '900', '100', '560', '770', '685', '690', '718', '760',
       '719', '500', '205', '250', '651', '637', '366', '475', '380',
       '354', '240', '270', '351', '381', '1000', '700', '630', '821',
       '720', '600', '850', '565', '870', '520', '620', '750', '650',
       '550', '840', '400', '664', '570', '220', '450', '280', '200',
       '300', '350', '370', '360', '142', '335', '150', '330', '145',
       '120', '320', '113', '130', '93', '340', '390', '420', '355',
       '151', '395', '264', '295', '175', '310', '95', '385', '460',
       '410', '245', '132', '106', '153', '290', '580', '170', '230',
       '210', '140', '154', '160', '260', '325', '353', '305', '174',
       '156', '171', '180', '248', '652', '190', '139', '191', '199',
       '207', '780', '374', '451', '329', '186', '168', '161', '265',
       '217', '225', '392', '356', '110', '184', '275', '278', '365',
       '135', '384', '103', '206', '62', '188', '195', '198', '344',
       '525', '820', '528', '469', '465', '640', '1050', '430', '950',
       '345', '530', '470', '480', '114', '51', '624', '115', '967',
       '1400', '660', '498', '559', '1355', '10000', '352', '285', '548',
       '617', '529', '324', '440', '885', '893', '603', '127', '519',
       '583', '629', '1234', '236', '881', '413', '255', '569', '259',
       '373', '15590', '1064', '421', '179', '422', '246', '510', '740',
       '1600', '2600', '3500', '2200', '2500', '2400', '1800', '1200',
       '696', '215', '680', '625', '666', '362', '247', '746', '691',
       '405', '1424', '847', '582', '678', '563', '825', '542', '197',
       '441', '407', '196', '141', '60', '94', '181', '214', '343', '173',
       '213', '252', '434', '271', '202', '314', '165', '90', '85', '80',
       '155', '105', '45', '239', '221'], dtype=object)

In [99]:
df_copy['Torque']=df_copy['Torque'].astype(float)
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1200 entries, 0 to 1217
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Company Names              1200 non-null   object
 1   Cars Names                 1200 non-null   object
 2   Engines                    1200 non-null   object
 3   CC/Battery Capacity        1200 non-null   float64
 4   HorsePower                 1200 non-null   float64
 5   Total Speed                1200 non-null   float64
 6   Performance(0 - 100 )KM/H  1200 non-null   float64
 7   Cars Prices                1200 non-null   float64
 8   Fuel Types                 1200 non-null   object
 9   Seats                      1200 non-null   int64
 10  Torque                     1200 non-null   float64
dtypes: float64(6), int64(1), object(4)
memory usage: 112.5+ KB

### Converted All The Required Columns to numeric type!

In [100]:
## saving the dataset!
df_copy.to_csv("Datasets/cars_cleaned.csv")